@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Ubuntu:wght@400;500;700&display=swap');
.container{
 max-width: 1180px;
 margin: 0 auto;
 display: flex;
 height: 100vh;
 align-items: center;
 /* justify-content: space-between; */
}

.image{
    width: 65%;
}
.image img {
    height: 450px;
    width: 650px;
    object-fit: cover;
}
.start{
/* margin: 0 20px ; */
}
.start h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #000;
    font-size: 65px;
    font-weight: 600;
    margin-left: -3px;
}

.start h3 {
    font-size:30px;
    margin: 5px 0;
}

.start button{
    margin: 14px 0;
    outline: none;
    padding: 8px 50px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 400;
    background:rgba(0, 0, 0, 0.717);
    cursor: pointer;
    color: #ffffff;
    border: 2px solid transparent;
}
.start button:hover{
 
 background-color: black;

}